body {
    overflow: auto;
    
}

#page-hostel {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 90%;
    background-attachment: fixed;
    opacity: 1;
    width: 100%;
    height: 1000px;
    position: absolute;
    z-index: -10;
}

body #container {
    font-weight: 500;
    color: rgb(8, 8, 8);
    height: 100%;
    width: 100%;
    position: relative;
    
}

.top-bar-container {
    margin: 0rem;
}

.redes-sociais {
    position: absolute;
    right: 0;
}

.redes-sociais ul li{
    display: flex;
    float: right;
    margin: auto;
    padding: 10px;
    
}

.redes-sociais img {
    width: 2rem;
}

.logotipo {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 120px;
    padding: 10px;
    height: auto;
}

.header-content{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

    margin: auto;
  }

.row {
    display: flex;
    position: relative;
    justify-content: space-around; 
  }
  
  .row-sapce {
    display: flex;
    position: relative;
    justify-content: center;


  }

  .page-wrapper {
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  input, textarea {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input--style-4 {
    line-height: 50px;
    background: #241f1f;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: rgb(235, 235, 235);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .input--style-4::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #666;
  }
  
  .input--style-4:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #666;
    opacity: 1;
  }
  
  .input--style-4::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #666;
    opacity: 1;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #666;
  }
  
  .input--style-4:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #666;
  }

  .p-t-30 {
    padding-top: 30px;
  }

  .radio-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    color: rgb(17, 17, 17);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1.6rem;
}

.buttons-container a { 
    width: 8rem;
    height: 3rem;

    border-radius: .8rem;
    margin-right: 1.6rem;

    font: 200 1.2rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;

    color: black ;
}


.buttons-container a.Voltar {
    background: rgb(243, 159, 138);
}

.buttons-container a.Voltar:hover {
    background: rgb(238, 62, 49);
}

.buttons-container a.Salvar {
    background:  rgb(90, 73, 240);
    margin-right: 0;
}

.buttons-container a.Salvar:hover {
    background: rgb(119, 238, 69);
}

input[type="file"] {
  display: block;
}
.imageThumb {
  max-height: 75px;
  border: 2px solid;
  padding: 1px;
  cursor: pointer;
}
.pip {
  display: inline-block;
  margin: 10px 10px 0 0;
}
.remove {
  display: block;
  background: #444;
  border: 1px solid black;
  color: white;
  text-align: center;
  cursor: pointer;
}
.remove:hover {
  background: white;
  color: black;
}

#files-preview {
  min-height: 100px;
  overflow: scroll;
}